.heading-subheading-wrapper{
    .subheading{
        font-size: 14px;        
        color: #949CAE;
        font-weight: 500;

    }
    .heading{
        font-size: 22px;
        color: #333843;
    }
}